.wrapper {
    padding-top: 50px;
    background: radial-gradient(rgb(251, 251, 251), rgb(70, 58, 32));
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
  }