/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */

.nav {
width:100%;
height:60px;
background-color:#a453ef;
}
.nav-link {
  color:white;
  font-size:30px;
  margin-left: 190px;
}

.container-fluid {
  width:100%;
  height:200px;
  background-image:url("http://www.margusriga.com/wp-content/uploads/2017/07/cool-background-design.jpg");
}
h1{
  text-align:center;
  color:white;
}
h2{
  text-align:center;
  color:white;
}
img{
  width: 200px;
  height: 200px;
  margin-left: 20px;
  margin-top: 20px;
}
.footer{
  width:100%;
  height: 20px;
}
.bottom{
  height:30px;
}

